<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LoLHelper_rework_wpf_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LoLHelper_rework_wpf_.Properties.Settings>
            <setting name="CB_Queue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB_Accept" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB_PickLane" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB_PickChamp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB_ChangeSpell" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB_ChangeRune" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB_Startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB_Minimize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CB_Lock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TB_Times" serializeAs="String">
                <value />
            </setting>
            <setting name="CBB_Lane" serializeAs="String">
                <value />
            </setting>
            <setting name="CBB_Champion" serializeAs="String">
                <value />
            </setting>
            <setting name="TB_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="TabColor" serializeAs="String">
                <value>AntiqueWhite</value>
            </setting>
            <setting name="BodyColor" serializeAs="String">
                <value>Azure</value>
            </setting>
            <setting name="ButtonColor" serializeAs="String">
                <value>Blue</value>
            </setting>
        </LoLHelper_rework_wpf_.Properties.Settings>
    </userSettings>
</configuration>